Package: litm
Version: $version
Priority: optional
Architecture: i386
Depends: python (>=2.5)
Suggests:
Conflicts:
Replaces:
Installed-Size:
Maintainer: Jean-Lou Dupont <litm#jldupont.com>
Description: The GNU `litm` package consists in a
 Lightweight Inter-Thread Messaging library.
 .
 This package contains ``litm`` library.
 .
